.taco-item {
    max-width: 520px;
    margin: 0 auto 8px;
    padding: 63px 16px 12px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 6px solid #ff9d00;
    border-radius: 15px;
    position: relative;
    img {
        width: 100%;
    }
}

.discountBage {
    background-color: orangered;
    padding: 4px 15px;
    border-radius: 5px;
    display: inline-flex;
    color: black;
    margin-left: 15px;
}

.toggleBtn {
    padding: 8px 12px;
    background-color: rgb(255, 153, 0);
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    &.withDiscount {
        background-color: green;
    }
}