.form {
    max-width: 520px;
    padding: 15px;
    margin: 25px auto 30px;
    width: 100%;
    .input-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 12px;

        span {
            font-size: 18px;
            color: black;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    .input {
        border-radius: 8px;
        border: 1px solid rgb(5, 25, 87);
        padding: 8px 12px;
        font-size: 18px;
    }
    .checkboxGroup {
        display: flex;
        margin-bottom: 18px;
        align-items: center;
        span {
            font-size: 18px;
            color: black;
            font-weight: bold;
            text-transform: capitalize;
            margin-left: 15px;
        }
    }
    .checkbox {
        width: 18px;
        height: 18px;
    }

    .submitBtn {
        display: block;
        text-transform: capitalize;
        padding: 11px 14px;
        font-size: 17px;
        background-color: antiquewhite;
    }
}
